<form id="testtask-form">
    <div class="additional-block">
        <input type="text" id="testtask_input_info" class="testtask_input_info" placeholder="Luxinten Test">
        <div class="add-info-from-input">
            <input type="button" id="send-info" value="Add info"/>
        </div>
    </div>
</form>


<script type="text/javascript">
    var url = "<?php echo $this->getUrl('testtask/index/save/'); ?>",
        productName = "<?php echo Mage::registry('current_product')->getName() ?>";

    Event.observe($('send-info'), 'click', function (event) {
        inputValue = $('testtask_input_info').value;
        if (inputValue.match(/^[ ]+$/)) {
            alert('Input have only spaces');
        } else {
            ajaxSave();
        }
    });

    function ajaxSave() {
        new Ajax.Request(url, {
            parameters: {
                'info': inputValue,
                'product_name': productName
            },
            onSuccess: function (transport) {
                if (transport.responseText.isJSON()) {
                    var response = transport.responseText.evalJSON();
                    alert(response.message)
                }
            }
        })
    }
</script>
